<%- include('../../layout/header.ejs'); -%>
<div class="page-header">
  <div class="row align-items-center">
    <div class="col-sm mb-2 mb-sm-0">
      <h1 class="page-header-title"><i class="tio-filter-list"></i> Product List</h1>
    </div>
  </div>
</div>

<div class="row gx-2 gx-lg-3">
  <div class="col-sm-12 col-lg-12 mb-3 mb-lg-2">
    <div class="card">
      <div class="card-header">
        <div class="row" style="width: 100%">
          <div class="col-8 mb-3 mb-lg-0">
            <form action="/items" method="GET">
              <div class="input-group input-group-merge input-group-flush">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="tio-search"></i>
                  </div>
                </div>
                <input
                  id="datatableSearch_"
                  type="search"
                  name="search"
                  class="form-control"
                  placeholder="Search"
                  aria-label="Search"
                  value=""
                  required
                />
                <button type="submit" class="btn btn-primary">search</button>
              </div>
            </form>
          </div>
          <div class="col-4 mb-3 mb-lg-0">
            <a href="/items/add" class="btn btn-primary pull-right btn-block"><i class="tio-add-circle"></i> Add New Product</a>
          </div>
        </div>
      </div>

      <div class="table-responsive datatable-custom">
        <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
          <thead class="thead-light">
            <tr>
              <th>#</th>
              <th style="width: 30%">Name</th>
              <th style="width: 25%">Image</th>
              <th>Status</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="set-rows">
            <% items.forEach(function(item, index){ %>
            <tr id="item-<%=item.id  %>">
              <td><%= index + 1 %></td>
              <td>
                <span class="d-block font-size-sm text-body">
                  <a href="/items/<%= item.id %>"> <%= item.name %> </a>
                </span>
              </td>
              <td>
                <div style="height: 100px; width: 100px; overflow-x: hidden; overflow-y: hidden">
                  <img src="<%= item.image %> " style="width: 100px" onerror="this.src='../images/img1.jpg'" />
                </div>
              </td>
              <td>
                <div style="padding: 10px; border: 1px solid; cursor: pointer" onclick="changeStatusItem('<%= item.id %>')">
                  <span id="status-<%=item.id %>" class="legend-indicator <%= item.isActive ? 'bg-success' : 'bg-danger' %>"></span><%=
                  item.isActive ? 'Active' : 'Disabled' %>
                </div>
              </td>
              <td><%= item.price %> VND</td>
              <td>
                <div class="dropdown">
                  <button
                    class="btn btn-secondary dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="tio-settings"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/items/<%=item.id %>/edit">Edit</a>
                    <a class="dropdown-item" onclick="deleteItem('<%= item.id %>')">Delete</a>
                    <form action="/items/22/delete" method="post" id="product-22">
                      <input type="hidden" name="_method" value="delete" />
                    </form>
                  </div>
                </div>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <hr />
        <div class="page-area">
          <table>
            <tfoot class="border-top"></tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function changeStatusItem(id) {
    console.log('change');
    $.post(`/items/${id}/change-status`, {}).done(function (data) {
      if (data.ok) {
        let status = $(`#status-${id}`);
        if (status.hasClass('bg-success')) {
          status.removeClass('bg-success');
          status.addClass('bg-danger');
        } else {
          status.removeClass('bg-danger');
          status.addClass('bg-success');
        }
      } else {
        toastr.error(data.message);
      }
    });
  }

  function deleteItem(id) {
    console.log('delete');
    form_alert(null, 'Want to delete this item ?', () => {
      $.post(`/items/${id}/delete`, {}).done(function (data) {
        if (data.ok) {
          toastr.success(data.message);
          $(`#item-${id}`).remove();
        } else {
          toastr.error(data.message);
        }
      });
    });
  }
</script>

<%- include('../../layout/footer.ejs'); -%>
